.page-footer {
  background-color: black;
  color: white;
}
.copyright {
  background-color: rgba(0, 0, 0, 0.3);
}

/* .footer-logo {
  width: 100px;
  height: auto;
}

#footer-logo {
  width: 50%;
  height: auto;
} */
